{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShohozNikah</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
        <!-- <h1 class="mt-5">ShohozNikah.com is coming soon in sha Allah</h1> -->
        <div class="banner">
            <img src="{% static '/img/banner.png'%}" style="width:100%" alt="">
        </div>
        <p class="lead">বাংলাদেশের প্রতিটি জেলার দ্বীনদার পাত্রপাত্রীদের সহজে খুঁজে পাওয়ার নির্ভরযোগ্য ঠিকানা 🔗 <a href="{{ url 'home' }}">ShohozNikah.com</a></p>
        <h2 class="mt-4">Follow us on:</h2>
        <ul>
            <li><a href="https://www.facebook.com/ShohozNikah">Facebook</a></li>
            <li><a href="https://www.youtube.com/@ShohozNikah">YouTube</a></li>
            <li><a href="https://www.instagram.com/shohoznikah/">Instagram</a></li>
            <li><a href="https://t.me/ShohozNikah">Telegram</a></li>
            <li><a href="https://whatsapp.com/channel/0029VbBVYsb65yD7nQY12O0b">WhatsApp</a></li>
            <li><a href="mailto:shohoznikahbd@gmail.com">Email: shohoznikahbd@gmail.com</a></li>
            <li><a href="https://www.shohoznikah.com">ShohozNikah.com</a></li>
        </ul>   
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>